// Variables
$color-blue : #376eb5;
$color-blue-second : #a3c2e7;
$color-gray : #e2e2e1;
$color-text : #7c7c7c;
$color-pink : #e090bd;

@import 'components/_normalize.scss';
@import 'components/_mixins.scss';
@import 'components/_datepicker.scss';
@import 'components/_timepicker.scss';
@import 'components/_logIn.scss';
@import 'components/_psychologists.scss';


body{
  font-size: 16px;
  color: $color-text;
}

*{
  box-sizing: border-box;
}

.Main{
  position: relative;
}

.VideoCall{
  display: flex;
  padding: 20px;
  padding-top: 100px;


  &__video{
    background: #efefef;
    width: 72%;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__waiting{
    text-align: center;
    p{
      color: $color-blue;
      font-size: .95em;
    }
  }

  &__finished{
    text-align: center;
    p{
      color: #e8423a;
    }
    span{
      color: $color-blue;
    }
  }

  &__actions{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 500px;
    div{
      padding: 5px 15px;
      border-radius: 10px;
      &:nth-child(1){
        background: #69b760;
        color: #fff;
        font-size: .9em;
      }
      &:nth-child(2){
        background: #a3c2e7;
        color: #fff;
        font-size: .9em;
      }
      &:nth-child(3){
        background: #e090bd;
        color: #fff;
        font-size: .9em;
      }
    }
  }

  &__controls{
    position: absolute;
    bottom: 30px;
    text-align: center;
    width: 100%;
    span{
      display: block;
      width: 40px;
      height: 40px;
      margin: 0 auto;
      border-radius: 50%;
      background: #e8423a;
      color: #fff;
      cursor: pointer;
    }
  }

  &__chat{
    margin-left: 40px;
    border: 1px solid $color-gray;
    width: 28%;
    position: relative;
    box-shadow: 1px 1px 4px $color-gray;

    &>span{
      font-size: .9em;
      font-weight: lighter;
      padding-left: 10px;
      color: $color-blue-second;
    }
  }

  &__chatHeader{
    background: $color-blue-second;
    font-weight: lighter;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    div{
      span{
        color: $color-blue;
        font-weight: 400;
      }
    }

    img{
      width: 45px;
      border-radius: 50%;
      margin-right: 5px;
    }
  }

  &__chatMessages{
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 110px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    justify-content: flex-start;

    &>div{
      margin: 10px 0;
    }

  }

  &__chatMsgPsycho{
    img{
      width: 30px;
      border-radius: 50%;
    }
    span{
      border: 1px solid $color-gray;
      padding: 3px 20px;
      border-radius: 5px;
    }
  }

  &__chatMsgUser{
    align-self: flex-end;
    img{
      width: 30px;
      border-radius: 50%;
    }
    span{
      background: #d0e2f4;
      color: $color-blue;
      padding: 3px 20px;
      border-radius: 5px;
    }
  }

  &__chatWrite{
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    textarea{
      width: 100%;
      height: 65%;
      padding: 0 10px;
      border: 0;
      border-top: 1px solid $color-gray;
      font-size: .9em;
      padding-top: 5px;
    }
    button{
      position: absolute;
      right: 10px;
      bottom: 10px;
      border: 0;
      background: $color-blue-second;
      color: #fff;
      padding: 3px 15px;
      border-radius: 10px;
    }
  }

}


@import 'components/_header.scss';
@import 'components/_navmobile.scss';
@import 'components/_questions.scss';


// utils

.u-left0{
  left: 0;
  transition: .5s;
}

.u-itemMenuActive{
  border-bottom: 2px solid $color-blue-second;
}

.u-displayNone{
  display: none;
}
