.HeaderMobile{
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 1px 4px $color-gray;
  height: 60px;
  @include mq(min-width, 1000px){
    display: none;
  }
}

.Header{
  display: none;

  @include mq(min-width, 1000px){
    border: color-gray;
    box-shadow: 1px 1px 4px $color-gray;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &__search{
    input{
      width: 270px;
      border: 0;
      background: $color-gray;
      padding: 5px 10px 5px 30px;
      border-radius: 20px;
      font-weight: lighter;
      font-size: .9em;
      &:focus{
        outline: none;
      }
    }
  }

  &__nav{
    width: 370px;
    ul{
      display: flex;
      padding: 0;
      margin: 0;
      li{
        list-style: none;
        width: 33%;
        cursor: pointer;
        font-weight: lighter;
        a{
          text-decoration: none;
          color: $color-text;
          &:hover{
            color: $color-blue-second;
          }
        }
      }
    }
  }

  &__userInfo{
    width: 100px;
  }

}
