.LogIn{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__form{
    border: 1px solid #e2e2e1;
    padding: 30px 20px;
    width: 80%;
    max-width: 400px;
    box-shadow: 1px 1px 8px #efefef;
    @include mq(min-width, 768px){
      height: 400px;
    }
  }
  &__formHeader{
    margin: 10px 0;
  }

  &__formImg{
    text-align: center;
  }

  &__formRegister{
    margin: 20px auto;
    display: flex;
    width: 230px;
    justify-content: space-around;
    div > a{
      color: $color-blue;
    }
  }

  &__formBody{

  }

  &__formGroup{
    display: flex;
    width: 80%;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;


    label{
      color: $color-blue;
    }

    input{
      width: 100%;
      padding: 10px 0;
      border: 0;
      border-bottom: 1px solid $color-gray;
      &:focus{
        outline: none;
        border-bottom: 1px solid $color-blue;
      }
    }
  }

  &__formButton{
    text-align: center;
    button{
      background: $color-blue-second;
      border: 0;
      color: #fff;
      padding: 10px 30px;
      border-radius: 20px;
      margin: 20px 0;
      font-size: 1.05em;
      cursor: pointer;
      transition: background .5s;
      &:hover{
        background: $color-blue;
        transition: .5s;
      }
    }
  }

}
