.NavMobile{
  background: #fff;
  width: 250px;
  border: 1px solid $color-gray;
  position: absolute;
  top: 60px;
  left: -300px;
  transition: left .5s;
  height: 90vh;
  z-index: 50;
  @include mq(min-width, 1000px){
    display: none;
  }

  &__header{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-top: 20px;
    img{
      border-radius: 50%;
    }
  }

  &__body{
    ul{
      li{
        list-style: none;
        margin: 10px 0;
        padding: 10px 0;
        cursor: pointer;
        a{
          text-decoration: none;
          color: $color-text;
        }
      }
    }
  }
}
