.Psychologists{
  padding-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq(min-width, 768px){
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @include mq(min-width, 1000px){
    padding-top: 120px;
  }

  &__card{
    width: 300px;
    border: 1px solid $color-gray;
    box-shadow: 1px 1px 6px $color-gray;
    padding: 20px;
    margin-bottom: 30px;

  }

  &__info{
    text-align: center;
    img{
      border-radius: 50%;
    }
    h2{
      margin: 5px 0;
      font-size: 1.1em;
      color: $color-blue;
      font-weight: 400;
    }
    p{
      margin: 7px 0;
      font-weight: lighter;
    }
  }

  &__action{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    button{
      border: 0;
      border-radius: 20px;
      background: $color-blue-second;
      color: #fff;
      font-size: .9em;
      font-weight: lighter;
      padding: 5px 10px;
    }
  }

  &__sendMsg{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    display: none;
    textarea{
      width: 100%;
      border-radius: 10px;
      border-color: $color-gray;
      box-shadow: 1px 1px 4px $color-gray;
      padding: 10px;
    }
    button{
      background: $color-blue-second;
      border: 0;
      border-radius: 10px;
      padding: 5px 20px;
      margin: 15px 0;
      color: #fff;
    }
  }

  &__selectDate{
    display: none;
    flex-direction: column;
    &>div{
      margin: 15px 0;
      display: flex;
      width: 100%;
      label{
        font-size: .8em;
      }
      input{
        width: 180px;
        border: 1px solid $color-blue-second;
        border-radius: 20px;
        padding: 0 10px;
      }
    }
    button{
      align-self: center;
      background: $color-blue-second;
      border: 0;
      border-radius: 10px;
      padding: 5px 20px;
      margin: 5px 0;
      color: #fff;
    }
  }

  &__msgResponse, &__ciResponse{
    display: none;
    font-weight: lighter;
    div:nth-child(1){
      color: $color-blue;
      text-align: center;
      margin: 5px 0;
    }
    div:nth-child(2){
      text-align: center;
      margin: 10px 0;
      display: flex;
      justify-content: space-around;
    }
    button{
      background: $color-blue-second;
      border: 0;
      border-radius: 10px;
      padding: 5px 20px;
      color: #fff;
      &:nth-child(2){
        background: $color-pink;
      }
    }
  }
}
