.MyQuestions{
  position: absolute;
  top: 80px;
  width: 100%;
  height: 90vh;
  font-weight: lighter;
  @include mq(min-width, 1000px){
    width: 250px;
    height: auto;
    top: 100px;
    right: 50px;
  }

  &__wrapper{
    width: 70%;
    margin: 0 auto;
    @include mq(min-width, 1000px){
      width: 90%;
    }
  }

  &__header{
    display: flex;
    justify-content: space-between;
    padding: .9em 0;
    color: $color-blue;
    border-bottom: 1px solid $color-blue-second;
  }

  &__body{

  }

  &__item{
    margin: 25px 0;
    &>div{
      margin: 7px 0;
    }
  }

  &__answer{
    display: flex;
    justify-content: space-between;
    color: $color-blue;
    &:nth-child(2){
      cursor: pointer;
    }
  }

}

.HelpContact{
  width: 220px;
  position: absolute;
  left: 50px;
  top: 100px;
  font-weight: lighter;
  @include mq(max-width, 1000px){
    display: none;
  }

  &__header{
    color: $color-blue;
    padding: .9em 0;
    border-bottom: 1px solid $color-blue-second;
  }
  &__item{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    span:nth-child(1){
      color: $color-blue;
    }
  }
}

.Content{
  width: 80%;
  margin: 0 auto;
  padding-top: 40px;
  @include mq(min-width, 1000px){
    width: 40%;
    padding-top: 110px;
  }
  @include mq(min-width, 1200px){
    width: 45%;
  }

  &__write{
    position: relative;
    textarea{
      width: 100%;
      height: 100px;
      padding: 10px;
      border: 1px solid $color-gray;
      font-weight: lighter;
      font-size: .9em;

    }

    button{
      position: absolute;
      right: 0;
      bottom: -30px;
      border: 0;
      background: $color-blue-second;
      border-radius: 10px;
      padding: 5px 10px;
      color: #fff;
      font-size: .95em;
      font-weight: lighter;
    }
  }

  &__writeHead{
    display: flex;
    justify-content: space-between;
    background: #F3F6FE;
    padding: 10px 10px 10px 15px;
    font-size: .9em;

    label{
      color: $color-blue-second;
    }
    input{
      background: transparent;
      border: 0;
      outline: none;
      padding-left: 10px;
      font-size: .85em;
      width: 200px;
    }

  }

  h1{
    font-size: 1.1em;
    @include mq(max-width, 1000px){
      margin-top:40px;
    }
  }

  article{
    font-weight: lighter;
    margin-bottom: 40px;
    h2{
      font-size: 1em;
      font-weight: inherit;
      color: $color-blue;
    }

    &>span{
      font-size: .9em;
      font-style: italic;
    }
  }
  &__answer{
    padding-left: 20px;
    margin-bottom: 30px;
    p{
      span{
        color: $color-blue;
        font-weight: 400;
      }
    }
  }
  &__responseBy{
    font-size: .95em;
    @include mq(min-width, 1000px){
      display: flex;
      align-items: center;
      width: 400px;
    }

    div:nth-child(1){
      color: $color-pink;
      margin-right: 10px;
    }

    div:nth-child(2){
      padding-top: 5px;
      padding-left: 50px;
      font-size: .9em;
      position: relative;
      img{
        position: absolute;
        left: 0;
        border-radius: 50%;
      }
      span{
        display: block;
      }
    }
  }
}
